@font-face {
	font-family: 'FuturaND';
	src: url('/assets/fonts/FuturaND-Medium.woff2') format('woff2'),
		url('/assets/fonts/FuturaND-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

html {
	font-family: 'FuturaND';
}

html,
body {
	margin: 0;
	font-size: 20px;
}
